h1{
    color:blue;
    
}
h3{
    
    color:red;
    background: yellow;

}

ol{ 
   color:maroon;

}

tr
{background: white;

}
.box
{
    background:pink;
    background-image: url("Japanese-Cherry-Blossom-Fragrance-Oil.jpg");
     margin: 350px;
     padding:75px;

}

body{
     background:#f6e58d;
    

}
#image{
    border:10px solid red;
    width: 200px;
    height: 200px;
    margin: 100px;
}

